@{
    this.ViewData["Title"] = "How to choose a device";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<h3>Take advantage of the tips for choosing an appliance from Tech-Dess. More information online on the site.</h3>
