@{
    this.ViewData["Title"] = "Delivery to the courier office";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp5PiCG6RxPRzvZDNMd4yDuJEUbSyy_vxLnQ&usqp=CAU..." class="img-fluid w-75 offset-1" alt="Responsive image">
</div>
<h3>Delivery to Post Office / Courier Office</h3>
<p>
    1. Choose an item up to 10kg.
</p>
<p>
    2. Click "Add to cart"
</p>
<p>3. Click "Order now"</p>
<p>4. From "Delivery details" select "Delivery to Post office / Courier office"</p>
<p>5. Fill in the data in the form</p>
<p>6. Follow the steps to complete your order</p>