@{
    this.ViewData["Title"] = "Loyal offers";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<h3>Loyal offers</h3>
<button class="btn btn-outline-primary" asp-controller="" asp-action="">See more</button>
