@{
    this.ViewData["Title"] = "60 days right of return";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<h5>The User has the right to withdraw from the distance or off-premises contract without stating a reason, without paying compensation or penalty, within 60 days from the date on which the User or a third party other than the carrier and indicated by him, has entered into possession of the goods or the date on which the User or a third party other than the carrier and indicated by him has entered into possession of the last goods, under a contract under which you order many goods with one order.</h5>

<h5> When ordering a product that is not available in Tech-Dess stores at the time of the order, the consumer has the right to withdraw from the distance contract or the off-premises contract, without stating a reason, without paying compensation or penalty, within 14 days from the date on which the User or a third party other than the carrier and designated by him entered into possession of the goods or the date on which the User or a third party other than the carrier and designated by him entered into possession of the last product, under a contract according to which you order many goods with one order, according to the provisions of the Consumer Protection Act.</h5>

<h5>In order to exercise his right of withdrawal, the User should notify Tech-Dess of his name, geographical address and, if any, telephone number, fax and e-mail address and of his decision to withdraw from the contract with an unambiguous application (eg letter, sent by post, fax or e-mail). The user can use the attached standard withdrawal form, but this is not mandatory:</h5>