<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTveEPWJx_XeDoi6_DUgv5-sIdCy6Di2REe7g&usqp=CAU" class="img-fluid w-25 offset-5" alt="Responsive image">
</div>

<h4> WHAT IS A WARRANTY +?</h4>

    <p>
        Insurance program that extends the production warranty of the goods purchased by you for a period of +1, + 2 * or +3 years.
    </p>



    <h4>TYPES OF PROGRAMS:</h4>

    <h5>Warranty +</h5>

    <p>
        Extends the production warranty of the device for a period of +1, +2 or +3 years.
    </p>
    <p>* for goods with a production warranty of 5 years</p>


    <h4>Warranty + Gold</h4>

    <p>
        Extends the production warranty of the device for a period of +1, +2 or +3 years.
    </p>
    <p>
        Compensates for theft or robbery.
    </p>

    <p>
        Compensates in case of short circuit or electric shock
    </p>

    <p>
        Guarantees the good prices in Tech-Dess through the cover "Guaranteed price of the goods".
    </p>

    <p>
        * for goods with a production warranty of 5 years
    </p>




    <h4>MOBITECH</h4>

    <p>
        Innovative insurance program that protects the portable devices purchased by you (tablets, laptops, mobile phones, cameras, camcorders, navigation, GPS systems, game consoles) in case of theft, robbery and complete breakage, not covered by the production warranty.
    </p>
    <p>
        The program is offered for a period of 9 or 18 months and is valid throughout Bulgaria.
    </p>


    <h4>MOBITECH GOLD</h4>

    <p>
        Provides additional insurance protection in case of partial breakage, theft or robbery of a car and accidental wetting of the portable devices purchased by you.
    </p>
    <p>

        The program is offered for a period of 12 months and is valid throughout Bulgaria.
    </p>



    <h4> SWITCH</h4>

    <p>
        Insurance protection for all appliances worth up to BGN 150, which provides replacement of the purchased item in case of theft or robbery, partial or complete damage, not covered by the production warranty, including as a result of electric shock from the transmission network. The insurance is valid for a period of 36 months after the date of purchase.
    </p>



    <h4>WHAT CAN YOU INSURE?</h4>

    <h5> Household appliances</h5>

    <p>
        Large electrical appliances, built-in appliances, espresso machines, vacuum cleaners.
    </p>

    <h5>Television and sound equipment</h5>

    <p>
        TVs, amplifiers, DVD and Blu-Ray players, video equipment, satellite receivers, music systems and home cinema systems
    </p>

    <h5> Air conditioning systems</h5>

    <p>
        3 or 5 years home service
    </p>

    <p>
        Free repairs
    </p>

    <p>
        Telephone line 0 700 46 003
    </p>

    <h5>Cameras and camcorders</h5>

    <p>
        Cameras, video cameras, lenses, projectors, flashes, photo printers, photo scanners, MP3 players, MP3 players, radio cassette players, portable navigation
    </p>

    <h5>Personal and laptop computers</h5>

    <p>
        Computers, laptops, monitors, printers
    </p>

    <h5>Personal and laptop computers</h5>

    <p>
        Landline telephones, fax machines and multifunction devices
    </p>
