    @*@model TechDess.Web.ViewModels.Products.ProductCreateInputModel
    @{
        ViewData["Title"] = "Create product";
    }
    <div class="container p-3 my-3 border">
    <h1  class="text-dark  text-center p-3 w-60 mx-auto rounded">Create Product</h1>
    <form method="post" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div id="name-and-price-holder" class="d-flex justify-content-between">
            <div class="form-group mx-auto w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="Name" class="text-dark h5">Name</label>
                </div>
                <input type="text"
                       class="form-control text-primary text-center"
                       id="name"
                       placeholder="Name..."
                       asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mx-auto w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="Price" class="text-dark h5">Price</label>
                </div>
                <input type="number"
                       step="0.01"
                       class="form-control text-primary text-center"
                       id="price"
                       placeholder="Price..."
                       asp-for="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        
        <div id="date-and-picture-holder" class="d-flex justify-content-between">
            <div class="form-group mx-auto w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="ProductTypeId" class="text-dark h5">Product Type</label>
                </div>

                <select class="form-control text-dark" id="type" asp-for="ProductTypeId">
                    <option selected disabled>--- Select Product Type ---</option>
                    @foreach (var type in Model.ProductTypes)
                    {
                        <option value="@type.Name">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>

            <div class="form-group mx-auto w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="Image" class="text-dark h5">Picture</label>
                </div>
                <input type="file"
                       class="form-control text-primary text-center"
                       id="picture"
                       placeholder="Picture..."
                       asp-for="Image">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
       
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-white font-weight-bold border-dark">Create Product</button>
        </div>
    </form>
    
   </div>*@

    @model TechDess.Web.ViewModels.Products.ProductCreateInputModel
@{
    this.ViewData["Title"] = "Create product";

    var productTypes = Model.ProductTypes.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

    <form metod="post" class="col-md-6 offset-md-3" asp-controller="Products" asp-action="Create" enctype="multipart/form-data">
        <h1>@this.ViewData["Title"]</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductTypeId"></label>
            @*<vc:CategoriesDropDown name="CategoryId"></vc:CategoriesDropDown>*@
            <select asp-for="ProductTypeId" class="form-control" asp-items="productTypes"></select>
            <span asp-validation-for="ProductTypeId" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>


