@model TechDess.Web.ViewModels.Products.ProductCreateInputModel
@{
    this.ViewData["Title"] = "Create product";

    var productTypes = Model.ProductTypes.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<form metod="post" class="col-md-6 offset-md-3" asp-controller="Products" asp-action="Create" enctype="multipart/form-data">
    <h1>@this.ViewData["Title"]</h1><input type="submit" class="btn btn-primary" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProductTypeId"></label>
        <select asp-for="ProductTypeId" class="form-control" asp-items="productTypes"></select>
        <span asp-validation-for="ProductTypeId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div id="CharacteristicsContainer">
        <label asp-for="Characteristics"></label>
        <a class="btn btn-success" onclick="AddMoreCharacteristics()">+</a>
    </div>
</form>

@section Scripts {
    <script>
        
        function AddMoreCharacteristics() {
            var ingredientIndex = 0;
            $("#CharacteristicsContainer").
                append("<div class='form-control'>" +
                "Name: <input type='text' name='Characteristics[" + ingredientIndex + "].CharacteristicName' />" +
                "Model: <input type='text' name='Characteristics[" + ingredientIndex + "].Model' />" +
                "Memory: <input type='text' name='Characteristics[" + ingredientIndex + "].Memory' />" +
                "Ram: <input type='text' name='Characteristics[" + ingredientIndex + "].Ram' />" +
                "Os: <input type='text' name='Characteristics[" + ingredientIndex + "].Os' />" +
                "Resolution: <input type='text' name='Characteristics[" + ingredientIndex + "].Resolution' />" +
                "Color: <input type='text' name='Characteristics[" + ingredientIndex + "].Color' />" +
                "Weight: <input type='text' name='Characteristics[" + ingredientIndex + "].Weight' />" +
                "ScreenSizeInInches: <input type='text' name='Characteristics[" + ingredientIndex + "].ScreenSizeInInches' />" +
                "Battery: <input type='text' name='Characteristics[" + ingredientIndex + "].Battery' />" +
                "DualSim: <input type='text' name='Characteristics[" + ingredientIndex + "].DualSim' />" +
                "Wifi: <input type='text' name='Characteristics[" + ingredientIndex + "].Wifi' />" +
                "Technology: <input type='text' name='Characteristics[" + ingredientIndex + "].Technology' />" +
                "D3: <input type='text' name='Characteristics[" + ingredientIndex + "].D3' />" +
                "ReactionTime: <input type='text' name='Characteristics[" + ingredientIndex + "].ReactionTime' />" +
                "Illumination: <input type='text' name='Characteristics[" + ingredientIndex + "].Illumination' />" +
                "PrintingSpeed: <input type='text' name='Characteristics[" + ingredientIndex + "].PrintingSpeed' />" +
                "Format: <input type='text' name='Characteristics[" + ingredientIndex + "].Format' />" +
                "Capacity: <input type='text' name='Characteristics[" + ingredientIndex + "].Capacity' />" +
                "CoolingPower: <input type='text' name='Characteristics[" + ingredientIndex + "].CoolingPower' />" +
                "HeatingPower: <input type='text' name='Characteristics[" + ingredientIndex + "].HeatingPower' />" +
                "Speaker: <input type='text' name='Characteristics[" + ingredientIndex + "].Speaker' />" +
                "Microphone: <input type='text' name='Characteristics[" + ingredientIndex + "].Microphone' />" +
                "Gps: <input type='text' name='Characteristics[" + ingredientIndex + "].Gps' />" +
                "Wlan: <input type='text' name='Characteristics[" + ingredientIndex + "].Wlan' />" +
                "CallNotificationsAndMessages: <input type='text' name='Characteristics[" + ingredientIndex + "].CallNotificationsAndMessages' />" +
                    "</div>");
            ingredientIndex++;
        }
    </script>
}
